body {
  background-color:black;
   color:white;
}
h1 {
  font-family:  'PT Sans Caption', sans-serif;
  text-align: center
}
p {
   font-family: 'PT Sans', sans-serif;
}
hr {
  height:0px;
  margin-top:-10px;
  border-color:white
}
pre {
  font-family: 'PT Sans', sans-serif;
}
ul {
  font-family: 'PT Sans', sans-serif;
  list-style-type:none;
  margin: 0;
  padding: 0;
  background-color:white;
  overflow:hidden;
}
li {
  display:inline;
  float: center;
  

}
li a{
  display:block;
  color:black;
  
}
]
a{
  display:block;
  padding:8px;
  background-color:white;
}